@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.dark {
	@import 'tailwindcss/colors';
	@import 'tailwindcss/dark';
}
.light {
	@import 'tailwindcss/colors';
	@import 'tailwindcss/light';
}

*:not(i) {
	font-family: 'Be Vietnam Pro', sans-serif;
}
html {
	scroll-behavior: smooth;
	scroll-padding-top: 80px;
}
body {
}

.z-4 {
	z-index: 4;
}
