@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.dark {
	@import 'tailwindcss/colors';
	@import 'tailwindcss/dark';
}
.light {
	@import 'tailwindcss/colors';
	@import 'tailwindcss/light';
}

*:not(i) {
	font-family: 'Be Vietnam Pro', sans-serif;
}

body {
	/* background-color: rgba(231, 232, 233, 0.301);
	background-image: url('../public/assets/images/paper-bg-01.webp');
	background-size: contain; */
}
